@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap');

/* ======== common style  ========= */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}

header,
.players-details,
#latest-leagus,
.highlight{
    padding:0 140px 80px 156px;
}
img{
    width: 100%;
    height: 100%;
}
/*======= button stylesheet  ====== */
a.button{
    font-weight: 500;
    font-size: 16px;
    background-color: #E02C6D;
    padding: 10px 24px;
    transition: background-color 1s;

}
a.button span{
    padding-left: 8px;
}
/* ========== start header style  ========== */

/*======== manu style ========== */
header{
    background: #2D25A0;
    /* height: 100vh; */
    
    transition: background 1s;
}
nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
nav ul{
    display: flex;
}
nav .button,
.contact-form-area button{
    background: #E02C6D;
    padding: 10px 24px;

}
nav .button .icon{
    padding-right: 10px;
}
nav ul li{
    list-style-type: none;
    padding: 5px;
}
nav ul li a,
a{
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    color: #fff;
}
/* ======= banner style ========== */
.top-banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 50px;
}
.text-area{
    position:relative;
    top: 20%;
    color: #fff;
    transition: top 1s;
    
}
.text-area h1{
    font-size: 64px;
    font-weight: 700;
    transition: color 0.5s;
    }


header:hover{
    background: #3426eb;
}
header:hover .text-area{
top: 15%;
}
.text-area a.button:hover{
    background:#d85384;
}
/* ========== end header style  ========== */
/*========== start  player details  style ========= */
.players-details{
 margin-top: 70px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 27px 30px;
}
.player{
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.player-info h2{
    font-family: Poppins;

font-weight: 700;
font-size: 28px;
line-height: 40px;
color: #18191F;

}
.player-info p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #6C6C6C;
}
/*========== end  player details  style ========= */
/* =====  start highlight style ======== */
.highlight{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.highlight-text-area{
    padding-top: 100px;
}
.highlight-heading{
    font-size: 2em;
}
.highlight-text-area .button{
    margin-top: 20px;
}

/* =====  end highlight style ======== */

/* =========== start latest-leagus style ========== */
#latest-leagus h2{
    color: #0b0b38;
    padding: 15px 0;
}
.latest-leagus{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.top-league-title{
    font-size: 1.9em
}
.leagues{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.leagues .league .league-title{
    color: #1E1D4C;
    font-size: 1.2em;
}
/* =========== end latest-leagus style ========== */

/* =========== start contact style ======== */
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    background: rgba(20, 17, 17, 0.678);
    padding: 0 50px;
}
.contact-form-area{
    padding: 60px 25px 50px 50px;
    box-sizing: border-box;
    color: #fff;
}
.contact-form-area h3,
h1{
    padding-bottom: 30px;
}

.contact-form-area input{
    width: 55%;
    height: 30px;
    padding: 4px;
    font-size: 1em;
    font-weight: 500;
    border: none;
    margin-bottom: 30px;
}
.contact-form-area button{
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    border: none;
    margin-left: -5px;
    padding: 10px 10px;
}
.contact-form-area p{
    font-size: 0.8em;
}
/* =========== end contact style ======== */


/* ======== start footer style ============ */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;;
}
footer .footer-img{
    width: 300px;
}
footer ul{
    display: flex;
}
footer ul li{
    list-style: none;
    background: #a7a7a7;
    border-radius: 50%;
    margin: 5px;
    width: 40px;
    text-align:center;
}
footer ul li a span{
  
 
}
footer p{
    font-size: 0.7em;
}

/* ======== end footer style ============ */
/* ========== start media query  ============= */

@media screen and (max-width: 480px) {

    /* common style  */
    header, .players-details, #latest-leagus, .highlight {
        padding: 50px 15px;
    }



    /* style header  */
    header {
        overflow-x: hidden;
    }
    nav{
        display: none;
    }
    .top-banner{
        grid-template-columns: 1fr;
       
    }
    .top-banner .text-area{
        top: 0;
        margin-bottom: 50px;
    }


    /* player style  */

    .players-details .players{
        grid-template-columns: 1fr;
        gap: 24px;
    }
    /* heighlight style  */
    .highlight{
        grid-template-columns: 1fr;
        /* display: none; */
    }
 /* latect league style  */
    .latest-leagus{
        grid-template-columns: 1fr;
    }

    .contact{
        grid-template-columns: 1fr;
        padding: 0 15px;
    }
    .contact input{
        margin-bottom: 5px;
        width: 90%;
    }
    .contact button{
        margin-left: 0;
        margin-bottom: 15px;
    }
   
}

/* ========== end media query  ============= */

@media only screen and (max-width: 800px) and (min-width: 500px)  {
    header, .players-details, #latest-leagus, .highlight {
        padding: 50px 15px;
    }



    /* style header  */
    header {
        overflow-x: hidden;
    }
    nav{
        display: none;
    }
    .top-banner{
        grid-template-columns: 1fr;
       
    }
    .top-banner .text-area{
        top: 0;
        margin-bottom: 50px;
    }


    /* player style  */

    .players-details .players{
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
    /* heighlight style  */
    .highlight{
        grid-template-columns: 1fr;
        /* display: none; */
    }
 /* latect league style  */
    .latest-leagus{
        grid-template-columns: 1fr;
    }

    .contact{
        grid-template-columns: 1fr;
        padding: 0 15px;
    }
    /* .contact input{
        margin-bottom: 5px;
        width: 90%;
    }
    .contact button{
        margin-left: 0;
        margin-bottom: 15px;
    } */
   
    
    }